<?xml version="1.0"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IHeroBashHighScores" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://highscores.team-mango.com/HeroBashHighScoresService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IHeroBashHighScores"
                contract="HighScoresService.IHeroBashHighScores" name="BasicHttpBinding_IHeroBashHighScores" />
        </client>
    </system.serviceModel>
</configuration>
